*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background: green;
}
.imageofgeneral {
  width: 100%;
  background: url(Images/main-bg-1832x1080-1.jpg) no-repeat;
  top: 0;
  z-index: 0;
  position: relative;
  width: 100%;
  background-size: 100%;
  background-position: center bottom;
}
.generaldiv {
  justify-content: center;
}
.generalfirstdiv {
  margin: 0 auto;
  width: 60%;
  padding: 10px;

}
.Marketifylogo {
  float: left;
  width: 30%;
}
.navbar {
  float: left;
  width: 70%;
}
.headerofnavbar {
  margin: 0 auto;
  width: 100%;
  padding: 100px 5px;
  text-align: center;
  color: #fff;

}
ul {
  list-style-type: none;
  display: flex;
  text-align: right;
  font-size: 10px;
  text-align: left;
}
li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
li {
  margin: 10px 20px;
}
.withitems::after{
  border-color: #ededed transparent;
  border-style: solid;
  border-width: 14px 14px 0 0;
  bottom: -14px;
  content: '';
  display: block;
  left: 14px;
  position: absolute;
  width: 0;
}
