*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}
.centerwidth {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.generalchild {
  background-image: url(Images/main-bg-1832x1080-1.jpg);
  color: white;
  position: relative;
}
.navofnavbar {
  width: 70%;
  float: right;
  position: relative;
}
.navofnavbar ul {
  list-style-type: none;
  float: left;
  padding: 9px;
}
.navofnavbar li {
  display: inline;
  float: left;
  line-height: 15px;
  margin: 0px 5px;
  position: relative;
}
.navofnavbar a {
  color: white;
  padding: 10px 20px;
  float: right;
  font-weight: bold;
}
.overlay-big {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #535A64;
  background-color: rgba(53,53,64, 0.9);
}
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}
.overlay-big .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}
.overlay-big .closebtn:hover {
    color: #ccc;
}
.overlay-big input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}
.overlay-big input[type=text]:hover {
    background: #f1f1f1;
}

.overlay-big button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay-big button:hover {
    background: #bbb;
}
.logoofnavbar {
  float: left;
  width: 30%;
  font-weight: bold;
}
.Header {
  margin: 0 auto;
  padding: 90px 0px;
}
.threedrops:hover {
  border: 2px white;
  border-style: solid;
  padding: 8px 18px;
  transition: 0.5s ease-in-out;
}
.shoppingempty {
  color: grey;
  background-color: #ededed;
  opacity: 0;
  z-index: -1;
  padding: 18px 20px;
  position: absolute;
  border-radius: 5px;
  width: 180px;
  visibility: hidden;
  transform: translate(0,-60%) scale(0);
  text-align: left;
  top: 42px;
  left: -94px;
}
.withdropdown1::after {
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translate(0,-60%) scale(0);
}
.withdropdown1:hover::after {
  content: "";
  border-left: 1px;
  opacity: 1;
  z-index: 1;
  border-color: #ededed transparent;
  border-style: solid;
  transform: translate(0) scale(1);
  border-width: 0px 12px 12px 12px;
  visibility: visible;
  transition: 0.5s ease-in-out;
  position: absolute;
  width: 0px;
  left: 49px;
  top: 30px;
}
.withdropdown1:focus .shoppingempty,
.withdropdown1:focus-within .shoppingempty,
.withdropdown1:hover .shoppingempty {
  visibility: visible;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  opacity: 1;
  transform: translate(0) scale(1);
}
.positioningdrop {
  left: -1px;

}
.positioningdrop a {
    color: black;
    text-align: left;
    float: left;
    line-height: 0.5;
    text-transform: uppercase;
    font-weight: bold;
}
.shoppingemptyparent:hover::after {
  content: "";
  border-left: 1px;
  border-color: #ededed transparent;
  border-style: solid;
  border-width: 0px 12px 12px 12px;
  display: inline;
  position: absolute;
  width: 0px;
  left: 130px;
  top: 30px;
}
#idofdrops {
  width: 250px;
  padding: 18px 20px;
}
#idofdrops a{
  padding: 7px 0;
}
.Header a {
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 11px 14px;
    margin: 0px 3px;
    font-weight: bold;
    transition: .3s ease;
}
.Header a:hover {
  background-color: white;
  color: grey;
}
.Header h1 {
  padding: 15px 1px;
}
.popular {
  border-top: 1px solid grey;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px 10px;
  position: relative;
  min-width: 200px;
  text-align: center;
  font-size: 14px;
}
#buttonpopular {
  padding: 8px 13px;
  position: relative;
  color: #888888;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
  top: -47px;
  border: 1.8px solid #888888;
}
#buttonpopular:hover {
  border: 1.8px solid #5b5b5b;
  color: #5b5b5b;
}
.card {
    transition: 0.3s;
    width: 40%;
}

.card:hover {

}

.container {
    padding: 2px 16px;
}
.slider {
    width: auto;
    margin: 0px 50px 50px;
}

.slick-slide {
  background: #ffffff;
  color: #363636;
  padding: 18px 13px;
  margin: 0;
  font-size: 10px;
  font-family: "Arial", "Helvetica";
  text-align: left;
  transition: background 0.8s;
}
.slick-arrow{
  background: #000;
  display: none;
}
.slick-prev:before,
.slick-next:before {
    color: white;
    display: none;
}

.slick-dots {
  position: absolute;
  bottom: 434px;
}

.slick-center {
  background: black;
}
a {
  text-decoration: none;
}
.container {
  padding: 0;
  border: 1px solid rgba(189,195,199,.38);
}
.container a {
  color: #363636;
  padding: 12px 3px;
}
#Authorsofpopular img {
  display: inline!important;
}
#inlineitempopular {
  display: block;
  color: #363636;
}
#Authorsofpopular p {
    /* padding: 7px 11px 0px 0px; */
    display: inline;
    color: #363636;
}
.overlay {
  position: relative;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.recentsection {
  border-top: 1px solid grey;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px 10px;
  position: relative;
  min-width: 200px;
  text-align: center;
  font-size: 14px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width:768px){
  .recentsection {
    border-top: 1px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px 10px;
    position: relative;
    min-width: 200px;
    text-align: center;
    font-size: 14px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width:600px){
  .recentsection {
    border-top: 1px solid grey;
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px 10px;
    position: relative;
    min-width: 200px;
    text-align: center;
    font-size: 14px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 100%;
  }
}

.Secondimage {
  background: url(Images/main-bg-1832x1080-1.jpg) no-repeat ;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}
.allhoverbuttons {
  padding: 8px 13px;
  position: relative;
  color: #b5b5b5;
  font-weight: 600;
  text-transform: uppercase;
  border: 1.8px solid #b5b5b5;
}
.allhoverbuttons:hover {
  border: 1.8px solid #888888;
  color: #888888;
}
.Secondimage p, h2 , a {
  padding: 15px 2px;
}
.thepowerofd {
  padding: 140px 0px;
  color: #b5b5b5;
}
.options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap:  15px;
  grid-row-gap: 15px;
}
@media screen and (max-width:768px) {
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px,auto);
    grid-gap:  15px;
    grid-row-gap: 15px;
  }
}
@media screen and (max-width:600px) {
  .options {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px,auto);
    grid-gap:  15px;
    grid-row-gap: 15px;
  }
}
.childofoption {
  margin: 1em;
}
.childofoption p {
  margin: 1.5em 1em 3em;
}
#buttonrecent {
  padding: 8px 13px;
  position: relative;
  text-align: center;
  color: #888888;
  background: #fff;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
  top: 30px;
  border: 1.8px solid #888888;
}
#buttonrecent:hover {
  color: #5b5b5b;
  background: #fff;
  border: 1.8px solid #5b5b5b;
}
.parentofrecent {
  position: relative;
  text-align: center;
}
.prices {
  border-top: 1px solid grey;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px 10px;
  font-size: 14px;
  position: relative;
}
.maindivsofprices {
  background-color: #515a63;
  padding: 2px;
}
#Honestpricing {
  padding: 8px 13px;
  position: relative;
  text-align: center;
  color: #888888;
  background: #fff;
  z-index: 1;
  font-weight: 600;
  text-transform: uppercase;
  top: 30px;
  border: 1.8px solid #888888;
}
#Honestpricing:hover {
  color: #5b5b5b;
  background: #fff;
  border: 1.8px solid #5b5b5b;
}
.bordered {
    border: 3px solid #fff;
    margin: 16px;
    color: #fff;
}
.floatingofprices {
  width: 33.3%;
  box-sizing: border-box;
  padding: 5px 5px;
  float: left;
}
@media screen and (max-width: 600px) {
  .floatingofprices {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;
    float: left;
  }
}
.parentofprices {
    text-align: center;
  }
.freelancers {
  border-top: 1px solid grey;
  margin: 0 auto;
  padding: 40px 10px;
  position: relative;
  text-align: center;
  margin-top: 260px;
  font-size: 14px;
}
.cardparagr {
  font-size: 16px;
  padding: 2px 0px 3px 0px;
}
img {
  height: auto;
  max-width: 100%;
}
.card img {
  display: block;
}
.container a {
  font-size: 14px;
}
.imgofauthors img {
  float: left;
  border-radius: 50%;
  width: 25%;
}
.pofauthors {
  float: left;
  text-align: left;
  margin: 5% 5%;
  font-size: 16px;
}
.helped-companies {
  border-top: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 70px;
  font-size: 14px;
}
.helped-companies a {
  width: 20%;
  float: left;
}
.Thirdimage {
  background-image: url(Images/widget-hero-two-updated.jpg) ;
  color: white;
  margin-bottom: 50px;
}
footer {
  border-top: 1px solid #bdc3c7;
  padding: 10px 0px 40px;
  text-align: left!important;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
footer div {
  border-right: 1px solid #bdc3c7;
  padding: 8px 6px;
}
footer div:nth-child(3n+3) {
  border: none;
}
@media screen and (max-width:700px) {
  footer {
    border-top: none;
    text-align: left!important;
    display: grid;
    grid-template-columns: 100%;
  }
  footer div {
    border-top: 1px solid #bdc3c7;
    border-right: none;
    padding: 8px 6px;
  }
  footer div:nth-child(3n+3) {
    border-top: 1px solid #bdc3c7;
  }
}

footer a, span {
  color: #515a63;
  font-size: 10px;
}
footer a:hover {
  text-decoration: underline;
}
